@import "variables";

html, body, #app {
  height: 100%;
  margin:0;
}

h1, h2, h3, h4, h5, h6 {
	margin:0;
	padding:0;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration:none;
		cursor:pointer;
	}
}

body {
  background: #f3f3f3;
  font-weight: 200;
}

ul {
	list-style:none;
	padding:0;
	margin:0;
}

.container {
	height:100%;
	width:100%;
	padding:0;
}

nav.top_nav {
	height:40px;
	width:100%;
	position:fixed;
	top:0;
	left:0;
	background-color:$gs-blue;
	box-shadow: 0px 1px 5px 1px gray;
	z-index:1000;

	.search_bar_container {
		height:40px;
		float:left;
		margin-left:20px;
		position:relative;
		width:200px;
		position:absolute;

		.search_icon {
			color:$gs-gray;
			text-decoration:none;

			&:before {
				content: "\f002";
				font-size: 20px;
                
				line-height: 40px;
				height: 30px;
				font-family: "FontAwesome";
				position: absolute;
				left: 5px;
			}

			&:hover {
				color:$gs-gray;
				text-decoration:none;
				cursor:pointer;
			}
		}

		input.search_bar {
			width:100%;
			line-height:30px;
			margin:5px 0px;
			height:30px;
			font-size:20px;
			border:0px;
			background-color:transparent;
			border-radius:20px;
			padding-left: 30px;
			border-radius: 20px;
			margin-left: 0px;
            color: $gs-background;

			&:focus, &:active {
				transition:0.25s linear;
				background-color:$gs-background;
                color: black;
				outline:none;
				box-shadow:0px 2px 2px $gs-font-color;
			}
		}
	}

	.nav_title {
		text-align:center;
		line-height:40px;
		font-size:30px;

		font-family:$gs-logo-font;

		a {
			color: $gs-title-color;
			text-decoration:none;
			&:hover {
				cursor:pointer;
			}
		}
	}

	.login {
		position: absolute;
		right: 20px;
		top: 0;
		height: 40px;
		line-height: 40px;

		a {
			color: $gs-title-color;
			height: 40px;
			display: block;
			width: 60px;
			text-align: center;

			&:hover {
				text-shadow: 0px 0px 2px $color-white, 0px 0px 4px $color-white, 0px 0px 6px $color-white;
			}
		}

		.user_button {
			width: 150px;
			height: 40px;
			text-align: right;
			position: relative;

			p {
				margin: 0px;
				display: inline-block;
			}

			img {
				height: 35px;
			}

			.dropdown {
				background-color: $gs-gray;
				display: none;
				position: absolute;
				top: 40px;
				z-index: 900;
				width:100%;
				ul {
					padding: 0px;

					li {
						border-bottom: 1px solid gray;
						a {
							width: 100%;

							&:hover {
								text-shadow: none;
								background-color: $gs-background;
							}
						}
					}
				}
			}

			.dropdown.visible {
				display: block;
			}
		}
	}
}

.content_container {
	padding-top:40px;
	width:100%;
	height:100%;
	background-color:$color-white;
}

.home_container {
	height:100%;
	width:100%;
	display:block;
}

.top_home {
	height:100%;
	background-color:$gs-background;
}

.three_home {
	height:500px;
	width:100%;
	display:block;
}

.about_home {
	height:300px;
	width:100%;
	display:block;
}

@import "./template/style";
@import "./user/style";
@import "./home/style";
@import "./search/style";
@import "./authentication/style";
@import "./custom/style";